body,html{
    font-family: sans-serif;
    background-color: #353e46;

}

form{
    color: white;
}

.titulo{
    alignment: center;

}
h1,h3,h4{
    font-family: sans-serif;
}

h3{
    alignment: center;
    color: white;
    size: 20px;
}


button {
    border-radius: 5px;
    font-size: 14px;
    background: none;
    color: white;
    border: 1px solid black;
    transition: 0.25s;
    width: 115px;
    margin: 0;
}
